html, body { width: 100%; height: 100%; }
* { margin: 0; padding: 0; box-sizing: border-box }
body { background-color: #221e1e; font-family: sans-serif; color: lightgrey }
canvas { position: absolute; top: 0; left: 0; width: 100%; height: 100% }
#source { display: none }
#controls {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    padding: 0 5px;
}
#controls>div {
    margin: 2px;
    display: flex;
    flex-flow: column;
}
#controls>div>div {
    display: flex;
    flex-flow: row;
}
#videoProgress {
    flex-basis: 1;
    flex-grow: 1;
}
button{
    background: #484848;
    color: lightgrey;
    border: 1px solid black;
    border-radius: 3px;
    padding: 2px 5px;
    box-shadow: 1px 1px 1px black;
}
input{
    margin: 2px;
}
input[type=range] {
    width: 100px;
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    background: transparent; /* Otherwise white in Chrome */
}
input[type=color] {
    border: 1px solid #484848;
}
input[type=color]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type=color]::-webkit-color-swatch {
    border: none
}
select {
    background: #484848;
    color: lightgrey;
    border: 1px solid black;
    border-radius: 3px;
    padding: 2px 5px;
    box-shadow: 1px 1px 1px black;
}
label {
    width:100%;
    /*background: rgba(255,255,255,0.1);*/
    border-bottom: 1px solid rgba(255,255,255,0.1);
    text-align: center;
}
#sourceField{
    position: absolute;
    top:0; left: 0;
}
input[type=text] {
    background: darkslategrey;
    border: 1px solid black;
}